<header class="header">
  <h1>{{ title }}</h1>
  <p>Welcome to ng App</p>
</header>
<nav class="nav-list">
  <ul>
    <li class="nav-item">
      <a [routerLink]="['/login']" routerLinkActive="active-test">
        Login</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/courses']" routerLinkActive="active">Courses</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/allregistered']" routerLinkActive="active">
        Registration Info</a>
    </li>
    <li class="nav-item">
      <a (click)="logout()" class="logout-link">
        Logout</a>
    </li>
  </ul>
</nav>
<main class="content">
  <router-outlet></router-outlet>
</main>