body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.active-test {
  color: #343434;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
}

.header p {
  margin: 0;
  font-size: 1.2em;
}

.nav-list {
  background-color: #333;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

.nav-item a:hover,
.nav-item a.active {
  color: #4caf50;
}

.content {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
}

li.nav-item {
  display: inline;
  margin-right: 10px;
}

.logout-button {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #ff3333;
}
.logout-link {
  color: #ff4d4d;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.logout-link:hover {
  text-decoration: underline;
}
